body {
	background-color: #BCD4E6;
	text-align: center;
}

h1 {
	text-transform: uppercase;
}

input {
	padding: 8px;
	box-shadow: 1px 1px 5px #000;
	margin-top: 50px;
}

#search {
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px 20px;
	background-color: #E6CEBC;
}

ul {
	list-style: none;
}

li {
	background-color: #E6CEBC;
	box-shadow: 2px 2px 5px #000;
	width: 150px;
	margin-top: 10px;
	margin-left: 43%;
}

